<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
 
    
    <title>Comsats University Library</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/material_style.css">
    <!-- Theme Styles -->
    <link href="~/Content/assets/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Content/assets/css/theme/light/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
 </head>
<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="#">
                        <span class="logo-icon material-icons fa-rotate-45"></span>
                        <span class="logo-default"></span>
                    </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <form class="search-form-opened" action="#" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                
                                <span class="username username-hide-on-mobile"> Admin </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="#">
                                        <i class="icon-user"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-settings"></i> Settings
                                    </a>
                                </li>
                               
                                <li class="divider"> </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-lock"></i> Lock
                                    </a>
                                </li>
                                <li>
                                    <a href="/Site/Logout">
                                        <i class="icon-logout"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end manage user dropdown -->
                       
                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
      
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll">
                        <ul class="sidemenu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                       
                            
                            <li class="nav-item">
                                <a href="/Home/index" class="nav-link nav-toggle">
                                    <i class="material-icons">event</i>
                                    <span class="title">DashBoard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">person</i>
                                    <span class="title">Student</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/Students/index" class="nav-link ">
                                            <span class="title">All Students</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Students/Create" class="nav-link ">
                                            <span class="title">Add Student</span>
                                        </a>
                                    </li>
                                 
                                   
                               
                                </ul>
                            </li>
                          
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">school</i>
                                    <span class="title">Books</span> <span class="arrow"></span>
                                  
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link ">
                                            <span class="title">All Books</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link ">
                                            <span class="title">Add Book</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link ">
                                            <span class="title">All Book Catagories</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link ">
                                            <span class="title">Add Book Catagory</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">local_library</i>
                                    <span class="title">Library</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="" class="nav-link ">
                                            <span class="title">All Library Assets</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link ">
                                            <span class="title">Add Library Asset</span>
                                        </a>
                                    </li>
                            
                                    <li class="nav-item">
                                        <a href="" class="nav-link ">
                                            <span class="title">Edit Asset</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">business</i>
                                    <span class="title">Departments</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link ">
                                            <span class="title">All Departments</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link ">
                                            <span class="title">Add Department</span>
                                        </a>
                                    </li>
                               
                                    <li class="nav-item">
                                        <a href="#" class="nav-link ">
                                            <span class="title">Edit Department</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">face</i>
                                    <span class="title">Staff</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="all_staffs.html" class="nav-link ">
                                            <span class="title">All Staff</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="add_staff.html" class="nav-link ">
                                            <span class="title">Add Staff</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="add_staff_bootstrap.html" class="nav-link ">
                                            <span class="title">Add Staff Bootstrap</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="edit_staff.html" class="nav-link ">
                                            <span class="title">Edit Staff</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="staff_profile.html" class="nav-link ">
                                            <span class="title">Staff Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                          
                         
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                  @RenderBody()
                    </div>
                    <!-- add content here -->
                </div>
            </div>
            <!-- end page content -->
            <!-- start chat sidebar -->
            <div class="chat-sidebar-container" data-close-on-body-click="false">
                <div class="chat-sidebar">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab">
                                <i class="material-icons">chat</i>Chat
                                <span class="badge badge-danger">4</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#quick_sidebar_tab_3" class="nav-link tab-icon" data-toggle="tab">
                                <i class="material-icons">settings</i> Settings
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <!-- end chat sidebar -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2018 &copy; Comsats Abbottabad
                
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- end footer -->
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/plugins/popper/popper.js"></script>
    <script src="~/Content/assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- Common js-->
    <script src="~/Content/assets/js/app.js"></script>
    <script src="~/Content/assets/js/layout.js"></script>
    <script src="~/Content/assets/js/theme-color.js"></script>
    <!-- Material -->
    <script src="~/Content/assets/plugins/material/material.min.js"></script>
    <!-- end js include path -->
</body>

</html>