
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


        <!-- start widget -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="card">
                            <div class="panel-body">
                                <h3>Total Students</h3>
                               
                                <span class="text-small margin-top-10 full-width">9996 Count</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="card">
                            <div class="panel-body">
                                <h3>Total Books</h3>
                               
                                <span class="text-small margin-top-10 full-width">1000 Count</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="card">
                            <div class="panel-body">
                                <h3>Total Issued Books</h3>
                                
                                <span class="text-small margin-top-10 full-width">500 Count</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="card">
                            <div class="panel-body">
                                <h3>Today Issued Books</h3>
                              
                                <span class="text-small margin-top-10 full-width">20  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
        <!-- end widget -->

        
   
