
@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 style="text-align:center;">Search Book</h2>
<input  placeholder="Enter Book Name or Author Name"/>
<button>Search</button>
