USE [master]
GO
/****** Object:  Database [Liabrary]    Script Date: 5/20/2018 12:23:00 AM ******/
CREATE DATABASE [Liabrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Liabrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Liabrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Liabrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Liabrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Liabrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Liabrary]
GO
USE [Liabrary]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/20/2018 12:23:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[adminName] [nvarchar](500) NULL,
	[adminEmail] [nvarchar](500) NULL,
	[adminPassword] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookPlace]    Script Date: 5/20/2018 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookPlace](
	[BookPlaceID] [int] IDENTITY(1,1) NOT NULL,
	[FKBookID] [int] NULL,
	[FKPlaceID] [int] NULL,
	[isActive] [bit] NULL,
	[ExtraLocationInfo] [nchar](500) NULL,
 CONSTRAINT [PK_BookPlace] PRIMARY KEY CLUSTERED 
(
	[BookPlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/20/2018 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](100) NULL,
	[BookDescription] [nvarchar](500) NULL,
	[BookArthor] [nvarchar](100) NULL,
	[isActive] [bit] NULL,
	[FK_BookCatagory] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catagory]    Script Date: 5/20/2018 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catagory](
	[CatagoryID] [int] IDENTITY(1,1) NOT NULL,
	[CatagoryName] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Catagory] PRIMARY KEY CLUSTERED 
(
	[CatagoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssuedBooks]    Script Date: 5/20/2018 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuedBooks](
	[IssuedBookID] [int] IDENTITY(1,1) NOT NULL,
	[FKBookID] [int] NULL,
	[FKStudentID] [int] NULL,
	[createDate] [datetime] NULL,
	[isActive] [nchar](10) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_IssuedBooks] PRIMARY KEY CLUSTERED 
(
	[IssuedBookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 5/20/2018 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[PlaceID] [int] IDENTITY(1,1) NOT NULL,
	[PlaceName] [nvarchar](500) NULL,
	[PlaceLocation] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/20/2018 12:23:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NULL,
	[StudentRegistrationNumber] [nvarchar](50) NULL,
	[StudentEmail] [nvarchar](50) NULL,
	[StudentPassword] [nvarchar](50) NULL,
	[StudentMobileNumber] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookPlace]  WITH CHECK ADD  CONSTRAINT [FK_BookPlace_Books] FOREIGN KEY([FKBookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookPlace] CHECK CONSTRAINT [FK_BookPlace_Books]
GO
ALTER TABLE [dbo].[BookPlace]  WITH CHECK ADD  CONSTRAINT [FK_BookPlace_Place] FOREIGN KEY([FKPlaceID])
REFERENCES [dbo].[Place] ([PlaceID])
GO
ALTER TABLE [dbo].[BookPlace] CHECK CONSTRAINT [FK_BookPlace_Place]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Catagory] FOREIGN KEY([FK_BookCatagory])
REFERENCES [dbo].[Catagory] ([CatagoryID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Catagory]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_IssuedBooks] FOREIGN KEY([FKBookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_IssuedBooks]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_Student] FOREIGN KEY([FKStudentID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_Student]
GO
USE [master]
GO
